*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
    font-family: "Lovers Quarrel", cursive;
}

header{
    width: 100vw;
    background-color: #E9D5B9;
    padding: 16px;
    height: 100px;
    
}

header nav ul{
    
    display: flex;
    justify-content: space-between;
}

header nav ul a {
    color: rgb(0, 0, 0);
    transition: 1s;
    margin-left: 100px;
    margin-right: 200px;
    font-size: 35px;
}

header nav ul a:hover{
    border-bottom: 3px solid rgb(255, 149, 0);
    
}

.grupo{
    display: flex;
    justify-content: center;
    height: 100vh;

}
#introducao{
    background-color: #C5B092;
    display: flex;
    justify-content: center;

 
}
.inicio{
    height: 50px;
    margin-top: 150px;
    margin-right:10px ;
    

}
#Oquee{
    display: flex;
    justify-content:center ;
    background-color: #C5B092;
    
}
.oquee{
    width: 1700px;
    margin-top: 90px;
    height: 200px;
}
.globo{
    margin-top: 850px;
}
#Origem{
    background-color: #C5B092;
   
}
.origem{

    margin-top: -150px;
    margin-right: 400px;

}

#Amarelo{
    background-color: #C5B092;
}
.periodo{
    margin-top: 150px;
    margin-left: 200px;
}

#Preto{
   background-color: #C5B092;
}
.importancia{
    
    margin-right: 100px;
}
.imagens{
   
    margin-left: 200px;
}
